/* BAR LINES */
#bar-lines {
    position: absolute;
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
}

/* Barlines as PNG */
#bar {
    max-width: 100%;
    overflow: hidden;
}

.notes {
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;
    width: 100%;
    height: 30%;

    /* Barlines as Background Image */
    /* background-image: url("bar-images/bar-lines.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
}

.notes li {
    display: flex;
    justify-content: center;

    height: 8.6%; /* Allows notes to overflow onto each other */
}

.notes img {
    position: relative;
    top: -0.3vh; /* Centers the note on the barlines */

    overflow: visible;
    height: 10vh; /* Size of notes */
}

#notes-top {
    top: 19%; 
}

/* KEYBOARD */
#keyboard {
    position: absolute;
    width: 80%;
    height: 40%;
    bottom: 10%;
    left: 10% /* Overall Width = 80; Left + Right = 2 */
}

#white {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#black {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 48%;
    left: 2vw;  /* to position black keys to the right of white ones */
}

.white-key {
    background-color: white;

    padding-top: 13%; /* position letter at bottom of box */

    width: 4vw;
    height: 100%;
    z-index: 0; /* below the black */
}

.black-key {
    background-color: black;
    color: white;

    margin: 0 0.5vw 0 0.5vw; /* space in between while matching size of white */
    width: 3vw; 
    height: 100%;
    z-index: 1; /* above the white */
}


/* SPECIAL CLASSES */
.empty {
    visibility: hidden;
}

.hidden {
    display: none;
}