#keyboard {
    position: absolute;
    width: 80%;
    height: 40%;

    bottom: 10%;
    left: 10% /* Overall Width = 80; Left + Right = 2 */
}

#white {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#black {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 45%;
    left: 2vw;  /* to position black keys to the right of white ones */
}

.white-key {
    background-color: white;

    padding-top: 13%; /* position letter at bottom of box */

    width: 4vw;
    height: 100%;
    z-index: 0; /* below the black */
}

.black-key {
    background-color: black;
    color: white;

    margin: 0 0.5vw 0 0.5vw; /* space in between while matching size of white */
    width: 3vw; 
    height: 100%;
    z-index: 1; /* above the white */
}

.empty {
    visibility: hidden;
}